In [1]:
class FDA:
    def __init__(self,Data):
        self.Data = Data
        self.labels = Data['class_label'].copy()
        self.coef_ = None
        self.transformed_data = None
        self.S_W = None
              

    def fit_transform(self):
        #Calculating total within-class scatter
        X = self.Data
        y = self.labels
        
        labels_list = []
        
        # Seprating the labels from the dataframe
        
        for i in np.unique(self.labels):
            labels_list.append(X[X['class_label'] == i].values)
          
        # Calculating between class scatter
        temp_scatter = np.zeros((X.shape[1]-1, X.shape[1]-1))
        for i in labels_list:
            i = np.delete(i, i.shape[1]-1,axis=1)
            mean = np.mean(i,axis=0)
            for j in i:
                diff = (j-mean).reshape(X.shape[1]-1,1)
                temp_scatter += diff.dot(diff.T)
        
        self.S_W = temp_scatter
        
        temp_bt_scatter = np.zeros((X.shape[1]-1, X.shape[1]-1))
        
        X = X.drop('class_label', axis=1)
        
        global_mean = np.mean(X,axis = 0)
        global_mean = np.array(global_mean)
        for i in labels_list:
            i = np.delete(i, i.shape[1]-1,axis=1)
            mean = np.array(np.mean(i,axis=0))
            diff = (mean - global_mean).reshape(X.shape[1],1)
            temp_bt_scatter += (i.shape[0])*(diff.dot(diff.T))

        SW_inv = np.linalg.inv(self.S_W)
        
        product = np.dot(SW_inv, temp_bt_scatter)
        
        eigenvalues, eigenvectors = np.linalg.eig(product)
        eigenvalues = np.real(eigenvalues)
        max_index = np.argmax(eigenvalues)
        
        max_eigenvector = eigenvectors[:,max_index]
        
        self.coef_ = max_eigenvector
        
        transform_data = np.dot(X,self.coef_.reshape(X.shape[1],1))
        
        return transform_data

In [2]:
import numpy as np
class LogisticRegression():
    def __init__(self,LearningRate,iterations, Data, labels):
        self.alpha = LearningRate
        self.iterations = iterations
        self.Data = Data
        self.Label =labels
        self.W = np.zeros(self.Data.shape[1])
        self.m = 0
    def fit(self):
        for i in range(self.iterations):
            A = 1/(1+np.exp(-self.Data.dot(self.W) + self.m))
            
            temp = A - self.Label.T
            dW = np.dot(self.Data.T, temp)/self.m
            db = np.sum(temp)/self.m
            
            self.W = self.W - self.alpha*dW
            self.m = self.m - self.alpha*db
            
    def predict(self, X):
        final_prediction = 1/(1+np.exp(-(X.dot(self.W)) +self.m))    
        for i in range(0,len(final_prediction)):
            if final_prediction[i] < 0.5:
                final_prediction[i] = 0
            else:
                final_prediction[i] = 1
        return final_prediction

# Load the data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dataset = pd.read_csv('Heart.csv')
dataset = dataset.drop('Unnamed: 0',axis=1)
dataset.head()

dataset = dataset.dropna()

In [4]:
dataset.describe()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,1.602694,0.676768
std,9.049736,0.468500,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [5]:
dataset.head(100)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,59,1,asymptomatic,110,239,0,2,142,1,1.2,2,1.0,reversable,Yes
97,60,0,asymptomatic,150,258,0,2,157,0,2.6,2,2.0,reversable,Yes
98,52,1,nontypical,134,201,0,0,158,0,0.8,1,1.0,normal,No
99,48,1,asymptomatic,122,222,0,2,186,0,0.0,1,0.0,normal,No
100,45,1,asymptomatic,115,260,0,2,185,0,0.0,1,0.0,normal,No

# Make some changes in the AHD, Thal, Chest pain

In [6]:
from sklearn.linear_model import LogisticRegression
dataset['ChestPain'] = dataset['ChestPain'].replace({'typical' : 1, 'asymptomatic': 2, 'nonanginal':3, 'nontypical':4})
dataset['Thal'] = dataset['Thal'].replace({'fixed':1, 'normal':2, 'reversable':3, 'nan':4})
dataset['AHD'] = dataset['AHD'].replace({'No':0, 'Yes':1})

labels = dataset['AHD'].copy()

In [7]:
dataset.describe()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,2.531987,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,1.602694,0.676768,2.326599,0.461279
std,9.049736,0.468500,0.858082,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965,0.585061,0.499340
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,2.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,2.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,2.000000,0.000000
75%,61.000000,1.000000,3.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,3.000000,1.000000

In [8]:
dataset = dataset.rename(columns={'AHD':'class_label'})
dataset

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,class_label
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,1,0
1,67,1,2,160,286,0,2,108,1,1.5,2,3.0,2,1
2,67,1,2,120,229,0,2,129,1,2.6,2,2.0,3,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,2,0
4,41,0,4,130,204,0,2,172,0,1.4,1,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57,0,2,140,241,0,0,123,1,0.2,2,0.0,3,1
298,45,1,1,110,264,0,0,132,0,1.2,2,0.0,3,1
299,68,1,2,144,193,1,0,141,0,3.4,2,2.0,3,1
300,57,1,2,130,131,0,0,115,1,1.2,2,1.0,3,1
301,57,0,4,130,236,0,2,174,0,0.0,2,1.0,2,1

# First apply FDA only

PreProcessing

In [9]:
preModel = FDA(dataset)
transformed_data =preModel.fit_transform()

In [10]:
transformed_data = np.real(transformed_data)

In [11]:
transformed_data

array([[-7.95588977e-01],
       [-3.44227804e+00],
       [-3.00123800e+00],
       [-8.84940904e-01],
       [ 1.07157806e-01],
       [-8.19146381e-03],
       [-1.78810308e+00],
       [-5.00280510e-01],
       [-1.88613825e+00],
       [-2.01243603e+00],
       [-3.82452033e-01],
       [-3.65479483e-01],
       [-1.18588198e+00],
       [-4.98910412e-01],
       [-7.01477252e-01],
       [-3.34568761e-01],
       [-9.61141789e-01],
       [-5.90091584e-01],
       [-1.18705456e-01],
       [-1.88101881e-01],
       [-1.52981758e+00],
       [-1.59873342e-01],
       [-6.87387661e-01],
       [-1.89533627e+00],
       [-3.02700072e+00],
       [-1.42747003e-01],
       [ 2.71210697e-01],
       [-1.22087665e+00],
       [-6.32285424e-01],
       [-2.22549679e+00],
       [-1.17814733e+00],
       [-1.97296850e+00],
       [-4.34697209e-01],
       [-1.09728820e+00],
       [-6.96052262e-01],
       [-3.61098834e-01],
       [-2.26085022e+00],
       [-1.99850325e+00],
       [-2.51240905e+00],
       [-1.15821573e+00],
       [-2.66600323e+00],
       [-1.48986968e+00],
       [-7.64382422e-01],
       [-2.75045551e-01],
       [-6.51315636e-02],
       [-1.57795676e+00],
       [-5.62153872e-01],
       [-1.90359027e+00],
       [-4.45072745e-01],
       [-7.89332721e-01],
       [ 4.51598132e-02],
       [-8.96722739e-01],
       [-1.10483193e+00],
       [-1.02221303e-01],
       [-2.04639619e+00],
       [-2.84937675e+00],
       [-1.49191887e+00],
       [-9.05180219e-01],
       [-1.48569658e+00],
       [-2.07151102e+00],
       [-1.43748905e+00],
       [-1.08214717e+00],
       [-3.47792559e+00],
       [ 4.42348085e-01],
       [-1.99026072e+00],
       [-3.12785931e+00],
       [-9.61545078e-01],
       [-1.07775499e+00],
       [-2.72032020e+00],
       [-1.11794959e+00],
       [-1.28455998e-01],
       [-1.60493579e+00],
       [-3.14250495e+00],
       [-9.69940216e-01],
       [-7.58544933e-01],
       [-3.77389851e-01],
       [-2.54746147e+00],
       [-8.79115778e-01],
       [-4.25555169e-01],
       [-2.17575387e+00],
       [-1.53657876e+00],
       [-5.53724313e-01],
       [-4.71970447e-01],
       [-1.82109472e+00],
       [-1.30680998e-01],
       [-3.75934744e-01],
       [-6.09209701e-01],
       [-1.45191788e-01],
       [-1.64269155e-01],
       [-8.72280159e-01],
       [-3.03091585e+00],
       [-2.53390266e+00],
       [ 2.29199150e-01],
       [ 1.46046538e-01],
       [-1.79267232e+00],
       [-2.30023126e+00],
       [-1.98674437e+00],
       [-7.22626694e-01],
       [-2.95176416e-01],
       [-3.19624236e-01],
       [-5.44266969e-01],
       [-5.94881226e-01],
       [-2.80538841e-01],
       [-2.58744760e+00],
       [-5.91215527e-01],
       [-1.73454662e+00],
       [-1.64740669e+00],
       [-2.43708472e+00],
       [-1.35790869e+00],
       [-1.57213438e+00],
       [-1.71548385e+00],
       [-9.79964045e-02],
       [-1.63357762e+00],
       [-1.61872382e+00],
       [-3.37589375e-01],
       [-1.61516884e-01],
       [ 6.60420943e-02],
       [-3.05207494e+00],
       [-2.22163557e+00],
       [-2.27696810e+00],
       [-2.72130279e+00],
       [-1.11825308e+00],
       [-2.77230067e+00],
       [-1.12293648e+00],
       [-2.65064236e-02],
       [-3.13951194e+00],
       [-2.46602623e+00],
       [-6.81787744e-02],
       [ 1.96272547e-01],
       [-1.22808440e+00],
       [-1.52050081e+00],
       [-2.85162889e-02],
       [-9.16979296e-01],
       [ 1.90250661e-03],
       [-2.25094078e-01],
       [-2.28352535e+00],
       [-2.05963939e+00],
       [-1.99492270e+00],
       [-5.61246273e-01],
       [-6.57283943e-01],
       [-1.62699175e+00],
       [ 3.45834733e-01],
       [-1.87041374e+00],
       [-1.53981526e+00],
       [-3.03554396e-01],
       [-2.98798559e+00],
       [-9.83504552e-02],
       [-3.55973148e-01],
       [-1.57600685e-01],
       [-1.04707951e+00],
       [-6.75729578e-01],
       [-9.30194004e-01],
       [-2.60247500e+00],
       [-2.68607840e+00],
       [-2.86162547e+00],
       [-1.48137633e+00],
       [-1.80149849e+00],
       [-2.20426692e+00],
       [-1.24301916e+00],
       [-2.14440740e-01],
       [-2.31732451e+00],
       [-5.74928459e-02],
       [-5.93993406e-01],
       [-8.09574028e-01],
       [-1.22146683e+00],
       [-6.09784560e-01],
       [-1.65710215e+00],
       [-6.09300852e-03],
       [-2.73170564e+00],
       [-2.04276118e+00],
       [-1.06646938e+00],
       [-6.26730758e-01],
       [-1.74116494e+00],
       [-2.97402082e+00],
       [-1.94193512e+00],
       [-1.99975940e+00],
       [-1.03809099e+00],
       [-1.43212164e+00],
       [-1.23929199e+00],
       [-2.57352321e+00],
       [-1.66565737e+00],
       [-2.35405054e+00],
       [-2.87979710e-01],
       [-3.77137779e-01],
       [-6.44279815e-01],
       [-2.35050486e+00],
       [-1.27229959e+00],
       [-2.75073307e+00],
       [-2.52387870e-01],
       [-3.77381305e+00],
       [-2.00434024e+00],
       [-6.11463090e-01],
       [-2.43655770e+00],
       [-1.49769421e+00],
       [-1.00071784e+00],
       [ 2.54219074e-01],
       [-1.23609203e+00],
       [-2.81392608e-02],
       [-8.22319780e-01],
       [-7.84132481e-01],
       [-6.05915354e-01],
       [-7.49571297e-01],
       [-3.38120277e+00],
       [-3.15148571e+00],
       [-2.19247107e+00],
       [-2.59824395e-01],
       [-9.13773154e-01],
       [ 2.67397742e-01],
       [-1.80151404e+00],
       [-8.21790247e-01],
       [-1.94632257e+00],
       [-7.74750570e-01],
       [-1.36625108e+00],
       [ 5.54123252e-01],
       [-9.85657815e-01],
       [-1.62020827e+00],
       [-4.19904691e-01],
       [-3.46844329e-01],
       [ 1.90335154e-01],
       [ 5.36271177e-01],
       [-3.28073977e+00],
       [-1.47023892e+00],
       [ 5.46635436e-01],
       [-5.03662623e-01],
       [-2.50836670e-01],
       [-2.11328608e+00],
       [-1.61491252e+00],
       [-1.21086450e-01],
       [-1.82719853e+00],
       [-2.08075996e+00],
       [-1.06956869e+00],
       [-3.78539947e-01],
       [-2.90578200e+00],
       [-2.41020720e+00],
       [-1.22307258e+00],
       [ 1.03382870e-02],
       [-2.35996272e-01],
       [-2.10217802e-01],
       [ 2.09388933e-01],
       [ 2.90169912e-02],
       [-2.01719749e+00],
       [-4.22812707e-02],
       [-1.48969383e+00],
       [-1.14056490e+00],
       [-2.20759631e+00],
       [-1.70181539e+00],
       [-1.95778683e-01],
       [-1.02005218e+00],
       [-2.28205388e+00],
       [-2.53105684e+00],
       [-7.50752108e-02],
       [-5.82336012e-01],
       [ 1.08725690e-01],
       [-8.16835224e-01],
       [-5.49453355e-01],
       [-5.88070200e-01],
       [-7.93385407e-01],
       [-6.15156521e-01],
       [-6.69382406e-01],
       [-1.14516190e-01],
       [-2.03500247e-01],
       [-2.33349720e+00],
       [-1.40626747e+00],
       [-6.74055872e-01],
       [-8.25258675e-01],
       [-4.13958644e-01],
       [-2.30917665e+00],
       [-6.81875605e-01],
       [-3.18271049e+00],
       [-3.57295358e-01],
       [-1.45427955e+00],
       [-1.61049447e+00],
       [-7.97816080e-01],
       [-2.32755323e-01],
       [-8.72890726e-01],
       [-4.38219783e-01],
       [-2.39717868e+00],
       [-1.74432350e-01],
       [-2.01378515e+00],
       [-5.97153002e-02],
       [-1.31508607e+00],
       [-2.41760473e+00],
       [-1.60368672e+00],
       [-7.03982744e-01],
       [-4.77368323e-01],
       [-1.30168584e+00],
       [ 1.40882569e-01],
       [-1.26830241e+00],
       [-2.84411932e+00],
       [-7.68074599e-01],
       [ 1.00002887e-01],
       [-1.91161949e+00],
       [-1.50165799e+00],
       [-1.52393549e+00],
       [-2.13669778e+00],
       [-2.42918965e+00],
       [-3.71561220e-01]])

Test_Train_Split

In [12]:
from sklearn.model_selection import train_test_split

train_data, test_data, train_label, test_label = train_test_split(transformed_data, dataset['class_label'].values, test_size=0.2,random_state=42)

In [13]:

model = LogisticRegression()
model.fit(train_data, train_label)

LogisticRegression()

In [14]:
from sklearn.metrics import accuracy_score

final_predictions = model.predict(test_data)
for i in range(0,len(final_predictions)):
    if final_predictions[i] < 0.5:
        final_predictions[i] = 0
    else:
        final_predictions[i] = 1
        
accuracy = accuracy_score(test_label, final_predictions)
accuracy

0.8833333333333333

# Applying PCA then FDA

In [15]:
labels.info()

<class 'pandas.core.series.Series'>
Int64Index: 297 entries, 0 to 301
Series name: AHD
Non-Null Count  Dtype
--------------  -----
297 non-null    int64
dtypes: int64(1)
memory usage: 4.6 KB

In [16]:
from sklearn.decomposition import PCA

pca = PCA(0.99)
X_PCA = pca.fit_transform(dataset)
X_PCA.shape
X_PCA = np.insert(X_PCA, X_PCA.shape[1], labels.values,axis=1)

In [17]:
pca.explained_variance_ratio_

array([0.74693362, 0.14984584, 0.08586582, 0.01601508])

In [18]:
dataframe_ = pd.DataFrame(X_PCA)

In [19]:
dataframe_ = dataframe_.rename(columns={4:'class_label'})
dataframe_

              0          1          2          3  class_label
0    -13.324180   2.931010  14.984466   6.689517          0.0
1     40.575088  45.622868  21.377886   0.006701          1.0
2    -18.402425  21.358778 -11.748963  11.064696          1.0
3      1.830524 -39.890574   1.244383 -10.801756          0.0
4    -43.893181 -23.913942   2.153175  -8.037886          0.0
..          ...        ...        ...        ...          ...
292   -5.771699  27.452873   5.053695  -3.075238          1.0
293   15.178632  12.713481 -25.858291  -9.408890          1.0
294  -53.090305  13.123448  15.565375  11.400841          1.0
295 -116.045876  35.748435   0.172438   0.249057          1.0
296  -11.365929 -23.420349   2.695567   6.996454          1.0

[297 rows x 5 columns]

In [20]:
dataframe_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   0            297 non-null    float64
 1   1            297 non-null    float64
 2   2            297 non-null    float64
 3   3            297 non-null    float64
 4   class_label  297 non-null    float64
dtypes: float64(5)
memory usage: 11.7 KB

In [21]:
preModelFDA = FDA(dataframe_)
transformed_Data = preModelFDA.fit_transform()

In [22]:
transformed_Data.shape

(297, 1)

Test Train Split

In [23]:
from sklearn.model_selection import train_test_split

train_data, test_data, train_label, test_label = train_test_split(transformed_Data, labels.values, test_size=0.2,random_state=42)

In [24]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(train_data, train_label)

LogisticRegression()

In [25]:
from sklearn.metrics import accuracy_score

final_predictions = model.predict(test_data)
for i in range(0,len(final_predictions)):
    if final_predictions[i] <= 0.5:
        final_predictions[i] = 0
    else:
        final_predictions[i] = 1
        
accuracy = accuracy_score(test_label, final_predictions)
accuracy

0.7166666666666667